<h1 class="title">Jack in</h1>

<%= form_with url: session_path do |form| %>
  <div class="field">
    <%= form.label :email_address, "Email", class: "label" %>
    <div class="control">
      <%= form.email_field :email_address,
          class: "input",
          required: true,
          autofocus: true,
          autocomplete: "username",
          placeholder: "Enter your email address",
          value: params[:email_address] %>
    </div>
  </div>

  <div class="field">
    <%= form.label :password, class: "label" %>
    <div class="control">
      <%= form.password_field :password,
          class: "input",
          required: true,
          autocomplete: "current-password",
          placeholder: "Enter your password",
          maxlength: 72 %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit "Jack in", class: "button is-primary" %>
    </div>
  </div>
<% end %>

<div class="content mt-4">
  <p>
    <%= link_to "Register", new_user_path, class: "is-link" %><br>
    <%= link_to "Forgot password?", new_password_path, class: "is-link" %>
  </p>
</div>
