<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div class="notification is-warning has-text-dark">
      <h4 class="has-text-dark"><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h4>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :prompt, class: "label" %>
    <div class="control">
      <%= form.textarea :prompt, class: "textarea", required: true %>
    </div>
    <% if project.errors[:prompt].any? %>
      <p class="help is-warning"><%= project.errors.full_messages_for(:prompt).join('.') %></p>
    <% end %>
  </div>

  <% if project.persisted? %>
    <div class="field">
      <%= form.label :homepage_url, "Homepage", class: "label" %>
      <div class="control">
        <%= form.text_field :homepage_url, class: "input", placeholder: "Fill in a URL once you're done recording" %>
      </div>
      <% if project.errors[:homepage_url].any? %>
        <p class="help is-warning"><%= project.errors.full_messages_for(:homepage_url).join('.') %></p>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <div class="control">
      <%= form.submit "Gem to this", class: "button is-primary", disabled: !authenticated? %>
    </div>
  </div>
<% end %>
